[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
dataclasses = "*"
packaging = "*"

[dev-packages]
ipython = "*"
pipfile = "*"
pytest = "*"
requirementslib = "*"

[requires]
python_version = "3.6"

[scripts]
pythonup = "python -m pythonup"
